<head>
   <?php include VIEW . 'links.html'; ?>
</head>
<?php include VIEW . 'header.html';?>
<!-- <title>About</title> -->
<title><?php echo (isset($this->page_title) ? $this->page_title : 'About');?></title>
<h1>About US </h1> 
<?php include VIEW . 'footer.html';?>
