<!DOCTYPE html>
<head>
<title><?php echo (isset($this->page_title) ? $this->page_title : 'Vegeseller');?></title>
   <?php include VIEW . 'links.html'; ?>
</head>

<body>

 <section class="container landing">
     <h1 class="align-center white-heading">VegeSeller</h1>
     <h2 class="align-center white-subheading">An helping hand for Vegetable Selleres!!</h2>
     <h2 class="align-center white">Purchase Details | Profit-Loss | Buying Pattern | Business Growth | Weather Based Selling</h2>
     <a class="start" href="seller/myPurchase">GET STARTED</a>
</section>

 <style>
       body{
        background-image: url('static/images/woman-981797_1920.png');
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
       }
       .landing{
           margin-top: 100px;
       }
       .start{
           background: #aeaeae;
           width: 30px;
           height: 20px;
           font-size: 30px;
           color: black;
           font-weight: bold;
           text-decoration: none;
           border-radius: 5px;
           margin-top: 120px;

        }
        a.start{
            padding: 6px;
            margin-left: 550px;
        }
        @media screen and (max-width: 360px){
            .start{
                font-size: 20px;
                margin-top: 10px;

            }
            a.start{  
            margin-left: 75px;
            }
            .landing{
                margin-top: 20px;
            }
        }
   </style>
<body>
</html>
