<!DOCTYPE html>
<html>
<head>
  <title><?php echo (isset($this->page_title) ? $this->page_title : 'My Purchases');?></title>
  <?php include VIEW . 'links.html'; ?>
</head>

<body>
<?php include VIEW . 'header.html';?>
<?php include VIEW . 'menu.html';?>

 <section class="container" id="page4">
        <div class="card">
    <h1 class="primary-color-heading"><i class="fas fa-long-arrow-alt-up"></i>  Grow Business</h1>                

                <div class="container">
                     <h2 class="primary-color-subheading"><i class="fas fa-globe-asia"></i> Weather</h2>
                    <p class="info-text">Best vegetables sold in the seasons..</p>

                    <div class="col-w">
                        <div class="col">
                            <h3 class="primary-color-subheading"><i class="fas fa-cloud-sun"></i> Summer</h3>
                            <ul>
                                <li>Brinjal</li>
                                <li>Tomato</li>
                                <li>Lady's finger</li>
                                <li>Cucumber</li>
                            </ul>
                        </div>
        
                    
                        <div class="col">
                            <h3 class="primary-color-subheading"><i class="fas fa-cloud-rain"></i> Monsoon</h3>
                            <ul>
                                <li>Spinach</li>
                                <li>Cauliflower</li>
                                <li>Cabbage</li>
                                <li>Tinda</li>
                            </ul>
                        </div>
        

                        <div class="col">
                            <h3 class="primary-color-subheading"><i class="fas fa-snowflake"></i> Winter</h3>
                            <ul>
                                <li>Carrots</li>
                                <li>Beetroot</li>
                                <li>Broccoli</li>
                                <li>White radish</li>
                            </ul>
                        </div>

                        <div class="col">
                            <h3 class="primary-color-subheading"><i class="fas fa-leaf"></i> Spring</h3>
                            <ul>
                                <li>Spring onions</li>
                                <li>New potatoes</li>
                                <li>Avocado</li>
                                <li>Radish</li>
                            </ul>
                        </div>
                        
            </div>
                 <hr>
                 <h2 class="primary-color-subheading"><i class="fas fa-praying-hands"></i> Festivals</h2>
                 <p class="info-text">Selling habits during festival time..</p>

                 <div class="col-w">
                   
                    <div class="col">
                        <h3 class="primary-color-subheading"><i class="fas fa-burn"></i> Diwali</h3>
                        <ul>
                            <li>Palak</li>
                            <li>Onion</li>
                            <li>Potato</li>
                            <li>Cauliflower</li>
                        </ul>
                    </div>

                    <div class="col">
                        <h3 class="primary-color-subheading"><i class="fas fa-holly-berry"></i> Christmas</h3>
                        <ul>
                            <li>Brinjal</li>
                            <li>Tomato</li>
                            <li>Lady's finger</li>
                            <li>Cucumber</li>
                        </ul>
                    </div>

                    <div class="col">
                        <h3 class="primary-color-subheading"><i class="fas fa-menorah"></i> Dussehra</h3>
                        <ul>
                            <li>Brinjal</li>
                            <li>Tomato</li>
                            <li>Lady's finger</li>
                            <li>Cucumber</li>
                        </ul>
                    </div>

                    <div class="col">
                        <h3 class="primary-color-subheading"><i class="fas fa-moon"></i> Eid</h3>
                        <ul>
                            <li>Brinjal</li>
                            <li>Tomato</li>
                            <li>Lady's finger</li>
                            <li>Cucumber</li>
                        </ul>
                    </div>
                        
                 </div>
                 <hr>

        </div>
    
    </section>

<?php include VIEW . 'footer.html';?>
</body>
</html>
