<!DOCTYPE html>
<html>
<head>
  <title><?php echo (isset($this->page_title) ? $this->page_title : 'My Purchases');?></title>
  <?php include VIEW . 'links.html'; ?>
</head>

<body>
<?php include VIEW . 'header.html';?>
<?php include VIEW . 'menu.html';?>
<?php 
$dt = date("Y-m-j"); 
$sum = 0;
$product = 0;
for($i=0; $i<sizeof($this->view_data['items']); $i++){
    $product = ($this->view_data['items'][$i]['quantity'] * $this->view_data['items'][$i]['buy_price']);
    $sum = $sum + $product;
        }
    $spentAmp = $sum;
?>


<section id="page1" class="container">
<!-- Form -->
<div class="card">
    <h1 class="primary-color-heading"><i class="fa fa-shopping-bag"></i>My Daily Purchase</h1>
    <p class="info-text">Enter the details of the vegetables/fruits you bought today</p>
<div class="container-content align-center">

<form method="POST" action="<?php $_SERVER['PHP_SELF']?>">
        <ul class="no-list-style ">
        <li><input class="br input-box input-box-style" name="item" value="<?php echo $item; ?>" placeholder="Item Name" type="text" id="item"/></li>
        
       <li><input class="br input-box input-box-style" name="quantity" value="<?php echo $quantity; ?>" placeholder="Quantity in Kg" type="text" name="quantity" id="quantity"/></li> 

        <li><input class="br input-box input-box-style" name="buy_price" value="<?php echo $buy_price; ?>" placeholder="Buying Price/Kg in Rs" type="text" name="price" id="price"/> </li>

       <li><input class="br input-box input-box-style" name="sell_price" value="<?php echo $sell_price; ?>" placeholder="Selling Price/kg in Rs" type="text" name="sell" id="sell"/> </li>
       
       <li><input class="br input-box input-box-style" name="dt" value="<?php echo $dt; ?>" placeholder="Today's Date" type="text" name="dt" id="date"/> </li> 
        
        <li><button class="button" type="submit" name="save">SAVE</button></li><br>
        </ul>
</form>
 </div>
</div>
</section>

<!-- Row display -->


<section class="container-table">
    <section class="card-table">
            <h2 id="time" class="primary-color-subheading"><?php echo date("M d, Y"); ?></h2> <h3 class="primary-color-subheading" id="val">Total Amount Spent: <?php print $spentAmp ?> </h3> 

            <table id="table">
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Buying Price</th>
                    <th>Selling Price /kg</th>
                    <!--<th> Date </th>-->
                </tr>
                
               <?php foreach($this->view_data['items'] as $row) : ?> 
                <tr>
                
                <td> <?php echo $row['item']; ?> </td>
                <td> <?php echo $row['quantity']; ?> </td>
                <td> <?php echo $row['buy_price']; ?> </td>
                <td> <?php echo $row['sell_price']; ?> </td>
<!--                 <td> <a href="?edit=<?php echo $row['id']; ?>" class="btn btn-info">Edit</a></td> -->
                <td> <a style="color: red;" href="?delete=<?php echo $row['id']; ?>">Delete</a></td>
                </tr>
                <?php endforeach; ?>
        
             </table>
               

    </section>
</section>
<?php include VIEW . 'footer.html';?>

</body>
</html>
