<!DOCTYPE html>
<html>
<head>
  <title><?php echo (isset($this->page_title) ? $this->page_title : 'My Purchases');?></title>
  <?php include VIEW . 'links.html'; ?>
</head>

<body>
<?php include VIEW . 'header.html';?>
<?php include VIEW . 'menu.html';?>

<section id="page3" class="container">
<div class="card">
    <h1 class="primary-color-heading"><i class="fas fa-money-bill-alt"></i>  Details</h1>
       
        <div class="align-center">
            <h3 class="primary-color-subheading" id="spent"></h3>
            <h3 class="primary-color-subheading" id="earned"></h3>
            <h1 class="primary-color-heading" id="prf-los"></h1>
        </div>
    
</div>
</section>

<section class="container">
  <div class="card">
    <h2 class="primary-color-subheading"><i class="fa fa-road"></i> Streets where you sold the best..</h2>
    
    <div style="display: flex; justify-content: space-around; color: rgb(36, 34, 34);" class="row">
      <h2>Vidya Nager</h2>
      <h3>Potatos <span><p>4kg</p></span> </h3>
      <h3>Potatos <span><p>4kg</p></span> </h3>
      <h3>Potatos <span><p>4kg</p></span> </h3>

      
    </div>

    <div style="display: flex; justify-content: space-around; color: rgb(108, 108, 116), 61);" class="row">
        <h2>Vidya Nager</h2>
        <h3>Potatos <span><p>4kg</p></span> </h3>
      <h3>Potatos <span><p>4kg</p></span> </h3>
      <h3>Potatos <span><p>4kg</p></span> </h3>

      </div>

      <div style="display: flex; justify-content: space-around;" class="row">
          <h2>Vidya Nager</h2>
          <h3>Potatos <span><p>4kg</p></span> </h3>
      <h3>Potatos <span><p>4kg</p></span> </h3>
      <h3>Potatos <span><p>4kg</p></span> </h3>

        </div>

        <div style="display: flex; justify-content: space-around;" class="row">
            <h2>Vidya Nager</h2>
            <h3>Potatos <span><p>4kg</p></span> </h3>
      <h3>Potatos <span><p>4kg</p></span> </h3>
      <h3>Potatos <span><p>4kg</p></span> </h3>

          </div>
        </div>
</section>

<?php include VIEW . 'footer.html';?>
</body>
</html>
