<!DOCTYPE html>
<html>
<head>
  <title><?php echo (isset($this->page_title) ? $this->page_title : 'My Purchases');?></title>
  <?php include VIEW . 'links.html'; ?>
</head>

<body>
<?php include VIEW . 'header.html';?>
<?php include VIEW . 'menu.html';?>

<section id="page2" class="container">
   <div class="card">
        <h1 class="primary-color-heading"><i class="fa fa-truck"></i> Sell Street-By-Street</h1>
        <p class="info-text">Enter the street name you are visiting & quantity<br>of each vegetable sold</p>
    

    <div class="container align-center">
    
        <form method="POST" action="<?php $_SERVER['PHP_SELF']?>">
            <i class="fas fa-map-marker-alt"></i>
            
            <select id="streets" name="street" type="button">
                <option value="Vidya Nagar">Vidya Nagar</option>
                <option value="Hemavathi Nager">Hemavathi Nager</option>
                <option value="KR Puram">KR Puram</option>
                <option value="Housing Board">Housing Board</option>
            </select>
            <h3 id="street_name" class="align-center primary-color-subheading"></h3>

            <div id="vegetables">
            
            <select name="veges">
                <?php foreach($this->view_data['items'] as $row) : ?> 
                    <option value="<?php echo $row['item']; ?>"> <?php echo $row['item']; ?> </option>
               <?php endforeach; ?>
              </select>
              <input type="text" name="vege-qut" placeholder="Quantity sold in KG"/>
              
            </div>
            
            <button id="addvege" class="button" name="save" onclick="addSoldItems()">Submit</button><br> <br> OR <br>
            <button id="finish" class="button" onclick="finishSelling()">Finish Selling</button>
            
            <div id="finished"></div>
            
        </form>
    </div>
   </div>
</section>

<section class="align-center-items">

<div class="container newvege">

<?php foreach($this->view_data['items'] as $row) : ?> 
  <div class="card-width-md">
    <h2> <?php echo $row['street']; ?> </h2>
    <p>You sold...</p>
    <p> <?php echo $row['item']; ?> </p>
    <p> <?php echo $row['quantity']; ?> </p>
  </div>
<?php endforeach; ?>
</div>

</section>


<?php include VIEW . 'footer.html';?>

<script>

</script>
</body>
</html>
