body{
  margin: 0%;
  padding: 0%;
  font-family: 'Muli', sans-serif;
  background-color: #f9f9f9;
  font-size: 16px;
}
p{
  font-size: 17px;
}
li{
  font-size: 18px;
  color: black;
}
.info-text{
  font-weight: 300;
}
.br {
margin-bottom: 14px;
}
h4{
    margin: 10px;
    
}
/*GLOBAL NAV*/

#vegetables{
 color: #172a3a;
 font-size: 20px;
 padding: 8px;
 text-align: center ;
}
#vegetables > button{
  padding: 5px;
  width: 150px;
}
#globalNav #logo{
    font-size: 25px;
    font-weight: bold;
    float: left;
    color: White;
}
#globalNav{
  background-color: #205978;;
  height: 80px;
  width: 100%;
  text-align:center;
}
.navigation-container{
width: 1200px;
  margin: 0 auto;
  height: 55px;
  float: right;
  /* background-color: #313429; */
}
#globalNav ul {
    padding: 0px;
  margin: 0px;
  text-align: right;
  /* display:inline-block; */
  vertical-align:top;
}
#globalNav li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}
#globalNav li a{
  text-align: right;
  font-size: 16px;
  /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}
/*FOOTER*/
#footer{
    height: 100px;
    background-color: #79867966;
}

/*MENU OPTIONS*/
ul {
  list-style: none;
  color: rgb(102, 102, 102);
}

a {
  text-decoration: none;
  color: black;
}
.tabs{
  justify-content: center;
  display: flex;
  background-color: #5c755c1a;
  margin-top: 0px;
  /* padding-top: 20px; */
}

.tabs li:not(:last-child) {
  /* margin-right: 7px; */
}

.tabs li a {
  display: block;
  position: relative;
  top: 4px;
  padding: 10px 25px;
  border-radius: 2px 2px 0 0;
  /* background: white; */
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}
.tabs li{
    margin: 20px 20px;
}
.active{
    font-size: 20px;
  font-weight: bold;
  color: #505050;
}
.tabs li.active a,
.tabs li a:hover {
  opacity: 1;
  top: 0;
  font-size: 20px;
  font-weight: bold;
  color: #505050;
  }
  .tabs li a:active{
      text-decoration: none;
  }

@media screen and (max-width: 360px) {
.tabs li a {
  padding: 2px 2px;
  border-radius: 0;
    opacity: 1;
    top: 0;
}
ul.tabs{
    padding: 11px 0px 11px 0px;    
    margin-bottom: 0px;
    /* width: 100%; */
  }
.tabs li{
    margin: 10px 10px;
    font-size: 15px;
    margin: 4px;
  }
.tabs li.active a,
.tabs li a:hover {
  font-size: 15px;
}
.tabs li.active a::before {
    /* content: "•"; */
    padding-right: 5px;
  }

}
/*  */
/*  */
/*  */
/* GENERIC CLASSES */
/*  */
/*  */
.container{
  padding: 10px;
}
.container-table{
  padding: 9px;
  margin: 10px;
}
.card{
  margin: 8px;
  padding: 14px;
  background-color: #FFF;
}
.card-width-md{
  margin: 10px auto 10px auto;
  width: 45%;
  padding: 14px;
  background-color: #FFF;
}
.no-list-style{
  list-style: none;
}
.container-content > li{
  padding: 15px;
  list-style: none;
}
.vege-lists li{
  list-style-type: none;
padding: 6px;
height: 24px;
margin-bottom: 4px;
display: inline-block;
}
.align-center{
  text-align: center;
}
.input-box-style{
  height: 25px;
  width: 300px;
  padding: 5px;
}
.button{
  padding: 8px;
  margin-top: 15px;
}
.col-w{
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  }
/*  */
/* COLORS */
.primary-color-heading{
margin-top: 0px;
font-size: 1.75em;
color: #2e2e2e;
font-weight: 600;
}
.white-heading{
  color: #2b3051;
  font-size: 30px;
}
.white-subheading{
  color: #2b3051;
}
.primary-color-subheading{
font-size: 22px;
color: #2e2e2e;
/* color: #172a3a; */
}
/*  */
/*  */

label {
  display: inline-block;
  width: 70px;
  text-align: right;
  font-size: 20px;
}​
.justify-content{
  justify-content: left;
}
.button:hover{
  color: rgba(26, 24, 24, 0.582);
}
hr{
  color: rgba(128, 128, 128, 0.219);
  width: 70%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: rgb(0, 0, 0);
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

/*  */
/*  */
/*  */
/* GENERIC CLASSES END*/
/*  */
/*  */
#streets{
  width: 30%;
  height: 40px;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  border: 1px solid #ddd;
}
th, td {
    text-align: center;
    padding: 16px;
  }
  td{
    color:#575c55;
    font-weight: bold;
}   
  th:first-child, td:first-child {
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
  /*  */
  /* MEDIA QUERIES */
  @media screen and (max-width: 360px){
th, td{
      font-size: 14px;
    }
.container{
      margin: 0px;
      padding: 5px;
    }
    .input-box-style{
      height: 25px;
      width: 250px;
    }
    .no-list-style{
      padding: 0px;
    }
    #streets{
      width: 90%;
    }
    .card-width-md{
      width: 84.5%;
    }
    .street-wise-col, .weather-wise-col{
      width: 90%;
    }
    p#logo{
      left: -100px;
    }
  }
  @media screen and (min-width: 361px) and (max-width: 480px){
    .street-wise-col, .weather-wise-col{

    }
  }
  @media screen and (min-width: 481px) and (max-width: 960px){
    .street-wise-col, .weather-wise-col
    {
    
    }
  }
